/* Theme Name: The Project - Responsive Website Template
Author:HtmlCoder
Author URI:http://www.htmlcoder.me
Author e-mail:htmlcoder.me@gmail.com
Version:1.4.0
Created:December 2014
License URI:http://support.wrapbootstrap.com/
File Description: Place here your custom CSS styles
*/



@font-face {
  font-family: 'SF Speakeasy';
  font-style: normal;
  font-weight: 400;
  src: local('../fonts/speakeasy'), local('speakeasy'), url('../fonts/speakeasy.woff') format('woff'), url('../fonts/speakeasy.woff') format('truetype');
}

/* Hack for language switcher */
.nav-link img {
  display: inline;
}

.large-slider {
  font-size: 90px;
  font-family: "SF Speakeasy", sans-serif;
  color: #ffffff;
  line-height: 1.2;
}
.site-slogan-speakeasy {
  font-family: "SF Speakeasy", sans-serif;
  font-size: 26px;
  padding-top: 6px;
}

.tickets-bg{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

p.large-points {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.force-dark-bg {
  border-bottom: 0;
  border-top: 0;
}

.force-dark-bg:after {
  background-color: rgba(0, 0, 0, 0.5);
}

.program-header {
  margin-bottom: 0px !important;
}

.program-details {
  margin-bottom: 30px !important;
}

.program-details-left {
  margin-right: 22px !important;
}

.program-details-right {
  margin-left: 22px !important;
}


.program-table {
  width: 100%
}

.program-table tbody{
  background-color: #373737;
}

.program-table tr td {
  padding: 10px;
}

.program-table .full-pass {
  font-weight: 400;
  line-height: 0px;
}

.program-table tbody tr td span{
  display: block;
}

.program-table .hour {
  font-size: 1.3em;
  font-weight: 400;
}

.program-table .hour a{
  text-decoration: none !important;
}

.program-table .title {
  font-size: 1.5em;
  font-weight: 500;
  padding-bottom: 10px
}

.program-table .location {
  padding-top: 10px;
}

.program-table .location a {
  text-decoration: none;
}

.program-table .arrow {
  width: 5%;
}
